.featured-hero {

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 

  @include breakpoint(medium) {
    height: 670px;
  }

  @include breakpoint(xlarge) {
   
  }
}
