// Page header
.front-hero {
  margin-bottom: 90px;
  @include breakpoint(small) {
    background-size: cover;
    background-position: bottom;
    margin: 0 0 90px;
    height: auto;
    position: relative;
    text-align: left;
  }

  @include breakpoint(medium) {
    background-size: cover;
    background-position: center;
    height: 800px;
  }

  .logos{
    height: 90px;
    background: #e6e7e8;
    bottom: -90px;
    margin-left: 9%;
    position: absolute;
    border-radius: 0px 0px 0px 30px;
    -moz-border-radius: 0px 0px 0px 30px;
    -webkit-border-radius: 0px 0px 0px 30px;
    border: 0px solid #000000;
    @include breakpoint(small) {
    @include grid-column(6);
    @include grid-column-collapse;
    }

    @include breakpoint(medium) {


      h2 {
        font-weight: 300;
        margin-bottom: 1.5rem;
      }

      h4 {
        font-size: 1.125rem;
        line-height: 1.6;
        color: #777;
        margin-bottom: 2rem;
      }
    }
  }

  .orbit {
    background: #1e5080;
    bottom: -90px;
    height: 523px;
    position: absolute;
    right: 0;
    @include breakpoint(small) {
    @include grid-column(5);
    @include grid-column-collapse;
    }
    @include breakpoint(medium) {
    @include grid-column(5);
    @include grid-column-collapse;
    }
    .orbit-controls{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 15%;
      height: 40px;

    }
    .orbit-container {
      position: relative;
      height: 0;
      width: 85%;
      float: right;
      margin: 0;
      list-style: none;
      overflow: hidden;
    }
    .orbit-bullets {
      width: 15%;
      display: inline-block;
      margin-top: 0.8rem;
      float: left;
      bottom: 0;
      margin-bottom: 0.8rem;
      text-align: center;
      button {
        width: 1rem;
        height: 1rem;
        margin: 9px 38%;
        border-radius: 50%;
        &.is-active{
        width: 3rem;
        height: 3rem;
        }
      }
    }
  }
    
  h1 {
    color: #fff;
    font-weight: 500;

    @include breakpoint(small) {
      font-size: 2.2rem;
    }

    @include breakpoint(medium) {
      font-size: 2.875rem;
    }
  }

  h4 {
    color: #fefefe;
    font-weight: 300;
    font-size: 1.3125rem;
  }
}

// Benefits
.benefits {
  text-align: center;

  header {
    @include xy-cell(12);

    h2 {
      font-weight: 300;
    }

    h4 {
      font-size: 1.125rem;
      line-height: 1.6;
      color: #777;
    }
  }
}
.submenu {
  background: white !important;
  top:109px !important;
  position: fixed;
  left: 0;
  width: 100%;
  &:hover{
    .is-dropdown-submenu-item {
      display: block !important;
      ul{
        display: block !important;
        top:280px !important;
      }
    }
  }
  .is-dropdown-submenu-item {
    ul{
      top:280px !important;
    }
  }
}