body.stop {
  overflow: hidden;
}
.main-container {
  @include xy-grid-container;
  padding-bottom: 120px;
}

body.page {
  header.title {
    height: 260px;
    background: $medium-gray;
    .entry-title {
      padding-top: 102px;
      @include xy-grid-container;
      color: $orange;
    }
  }
  .widget-title {
    font-family: 'AvertaStdPE-Semibold';
    color: $blue;
  }
  .siteorigin-panels-stretch  {
    color: white;
  }
}

.lazyloadng{
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}
.lazyloaded{
  opacity: 1;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.main-grid {
  @include xy-grid();
  margin-top: 1rem;

  @include breakpoint(medium) {
    margin-top: 3rem;
  }

  &.sidebar-left {
    // Place the sidebar below main content on small screens ...
    @include breakpoint(small) {
      .main-content { order: 1; }
      .sidebar { order: 2; }
    }

    // ... and to the left on medium-up screens, when using the sidebar-left template
    @include breakpoint(medium) {
      .main-content { order: 2; }
      .sidebar { order: 1; }
    }
  }

  // Full width template
  .main-content-full-width {
    @include xy-cell(12);
  }

  // Default template
  .main-content {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(12);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include xy-cell(12);
    }

    @include breakpoint(medium) {
      @include xy-cell(4);
      margin-top: 1rem;
    }

  }
}
